<div class="reset-password-container">
  <div class="reset-password-card p-shadow-3">
    <h2 class="p-text-center">Restablecer Contraseña</h2>
    <p class="p-text-center">Por favor ingresa tu correo electrónico</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="p-fluid">
      
      <div class="p-field">
        <label for="email">Correo Electrónico</label>
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input
            type="email"
            id="email"
            pInputText
            placeholder="Email"
            formControlName="email"
          />
        </span>
        <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="p-error">
          <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
          <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Ingresa un correo válido.</small>
        </div>
      </div>

      <div *ngIf="message" class="success-message">
        {{ message }}
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        pButton
        label="Enviar Enlace de Restablecimiento"
        class="p-button p-button-rounded p-button-primary p-button-lg"
      ></button>
    </form>

    <p class="p-text-center p-mt-3">
      <a [routerLink]="'/login'" class="p-text-secondary">Iniciar sesión</a>
    </p>
  </div>
</div>
