<!-- Toolbar con botón para agregar nueva tarea -->
<p-toolbar>
  <div class="p-toolbar-group-start">
    <label class="text-2xl">Listado de Tareas</label>
  </div>
  <div class="p-toolbar-group-end">
    <p-button icon="pi pi-plus" label="Nueva Tarea" class="mr-2" (click)="openNewTask()"></p-button>
  </div>
</p-toolbar>

<!-- Tabla de tareas -->
<p-table 
  [value]="tasks" 
  [paginator]="true" 
  [rows]="10" 
  [responsive]="true" 
  class="p-table">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Descripcion</th>
      <th>Prioridad</th>
      <th>Estado</th>
      <th>Fecha de Creación</th>
      <th>Fecha de Vencimiento</th>
      <th>Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-task let-i="rowIndex">
    <tr>
      <td>{{ i + 1 }}</td>
      <td>{{ task.titulo }}</td>
      <td>{{ task.descripcion }}</td>
      <td>{{ task.prioridad }}</td>
      <td>{{ task.estado }}</td>
      <td>{{ task.creacion | timestampToDate  }}</td>
      <td>{{ task.vencimiento  | timestampToDate}}</td>
      <td>
        <button 
          pButton 
          type="button" 
          icon="pi pi-pencil" 
          class="p-button-info" 
          (click)="onEditTask(task)">
        </button>
        <button 
          pButton 
          type="button" 
          icon="pi pi-trash" 
          class="p-button-danger" 
          (click)="onDeleteTask(task)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-task-form 
  [task]="selectedTask" 
  [(display)]="displayDialog" 
  (save)="saveTask($event)" 
  (cancel)="hideDialog()">
</app-task-form>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>