<div class="login-container">
  <div class="login-card p-shadow-3">
    <h2 class="p-text-center">Log in</h2>

    <button
      pButton
      label="Iniciar sesión con Google"
      class="p-button p-button-rounded p-button-primary p-button-lg"
      (click)="loginWithGoogle()"
    ></button>

    <app-google-button (onClick)="loginWithGoogle()" />

    <p class="p-text-center">Please enter your details</p>
    <form (ngSubmit)="onSubmit()" class="p-fluid">
      <div class="p-field">
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input
            id="email"
            type="email"
            pInputText
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
          />
        </span>
      </div>

      <div class="p-field">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            id="password"
            type="password"
            pInputText
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
          />
        </span>
      </div>

      <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
        <div class="p-field-checkbox">
          <p-checkbox
            inputId="remember"
            binary="true"
            [(ngModel)]="rememberMe"
            name="rememberMe"
          ></p-checkbox>
          <label for="remember">Remember Me</label>
        </div>
        <a href="#" class="p-text-secondary">Reset password</a>
        <a href="#" class="p-text-secondary">Create an account</a>
      </div>

      <button
        type="submit"
        pButton
        label="Log In"
        class="p-button p-button-rounded p-button-primary p-button-lg"
      ></button>
    </form>
  </div>
</div>
