<div class="login-container">
  <div class="login-card p-shadow-3">
    <h2 class="p-text-center">¡Bienvenido de nuevo!</h2>
    
    <div class="p-d-flex p-jc-center p-mb-3">
      <button
        pButton
        type="button"
        class="google-login-btn p-button-rounded"
        (click)="loginWithGoogle()"
      >
        <i class="pi pi-google" style="margin-right: 8px;"></i>
        Iniciar sesión con Google
      </button>
    </div>

    <p-divider align="center">O</p-divider>

    <p class="p-text-center">Por favor ingresa tus datos</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
    
      <div class="p-field">
        <label for="email">Correo electrónico</label>
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input
            id="email"
            type="email"
            pInputText
            placeholder="Ingresa tu correo electrónico"
            formControlName="email"
          />
        </span>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="p-error">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">Ingresa un correo válido.</small>
        </div>
      </div>

      <div class="p-field p-mt-3">
        <label for="password">Contraseña</label>
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            id="password"
            type="password"
            pInputText
            placeholder="Ingresa tu contraseña"
            formControlName="password"
          />
        </span>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="p-error">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
        </div>
      </div>

      <div class="p-d-flex p-jc-between p-ai-center p-mt-3 p-mb-4">
        <div class="p-field-checkbox">
          <p-checkbox
            inputId="remember"
            binary="true"
            formControlName="rememberMe"
          ></p-checkbox>
          <label for="remember">Recuérdame</label>
        </div>
        
        <a [routerLink]="'/reset-password'" class="p-text-secondary">¿Olvidaste tu contraseña?</a>
      </div>

      <button
        type="submit"
        pButton
        label="Iniciar sesión"
        class="p-button p-button-rounded p-button-primary p-button-lg"
      ></button>

      <p class="p-text-center p-mt-3">
        ¿No tienes una cuenta? 
        <a [routerLink]="'/register'" class="p-text-secondary">Crea una</a>
      </p>
    </form>
  </div>
</div>
