<p-dialog 
  [(visible)]="display" 
  [modal]="true" 
  [closable]="false" 
  [style]="{ width: '60rem' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-start gap-3">
      <p-avatar 
         [image]="avatarUrl" shape="circle">
      </p-avatar>
      <span class="font-bold white-space-nowrap">
        {{ task.id ? 'Editar Tarea' : 'Nueva Tarea' }}
      </span>
    </div>
  </ng-template>

  <span class="p-text-secondary block mb-5">
    Complete la información de la tarea.
  </span>

  <form [formGroup]="taskForm" class="p-fluid grid">
    <div class="field col-12">
      <label for="taskTitle">Título</label>
      <input 
        id="taskTitle" 
        type="text" 
        pInputText 
        formControlName="titulo" 
        placeholder="Título de la tarea"
      >
      <small *ngIf="taskForm.get('titulo')?.invalid && taskForm.get('titulo')?.touched" class="p-error">
        El título es obligatorio.
      </small>
    </div>

    <div class="field col-12">
      <label for="taskDescription">Descripción</label>
      <textarea 
        id="taskDescription" 
        rows="3" 
        pInputTextarea 
        formControlName="descripcion" 
        placeholder="Breve descripción de la tarea"
      ></textarea>
      <small *ngIf="taskForm.get('descripcion')?.invalid && taskForm.get('descripcion')?.touched" class="p-error">
        La descripción es obligatoria y debe tener al menos 10 caracteres.
      </small>
    </div>

    <div class="field col-6">
      <label for="taskPriority">Prioridad</label>
      <p-dropdown 
        id="taskPriority" 
        formControlName="prioridad" 
        [options]="priorityOptions" 
        optionLabel="label" 
        optionValue="value" 
        placeholder="Seleccionar"
      ></p-dropdown>
    </div>

    <div class="field col-6">
      <label for="taskStatus">Estado</label>
      <p-dropdown 
        id="taskStatus" 
        formControlName="estado" 
        [options]="statusOptions" 
        optionLabel="label" 
        optionValue="value" 
        placeholder="Seleccionar"
      ></p-dropdown>
    </div>

    <div class="field col-6">
      <label for="taskCreationDate">Fecha de Creación</label>
      <p-calendar 
        id="taskCreationDate" 
        formControlName="creacion" 
        dateFormat="dd/mm/yy" 
        placeholder="Seleccionar Fecha"
      ></p-calendar>
      <small *ngIf="taskForm.get('creacion')?.invalid && taskForm.get('creacion')?.touched" class="p-error">
        La fecha de creación es obligatoria.
      </small>
    </div>

    <div class="field col-6">
      <label for="taskDueDate">Fecha de Vencimiento</label>
      <p-calendar 
        id="taskDueDate" 
        formControlName="vencimiento" 
        dateFormat="dd/mm/yy" 
        placeholder="Seleccionar Fecha"
      ></p-calendar>
      <small *ngIf="taskForm.get('vencimiento')?.invalid && taskForm.get('vencimiento')?.touched" class="p-error">
        La fecha de vencimiento es obligatoria.
      </small>
    </div>

    <div class="field col-12">
      <label for="taskCategory">Categoría</label>
      <p-dropdown 
        id="taskCategory" 
        formControlName="categoria" 
        [options]="categoriaOptions" 
        optionLabel="label" 
        optionValue="value" 
        placeholder="Seleccionar categoría"
      ></p-dropdown>
    </div>

    <div class="field col-12">
      <label for="taskAssigned">Asignado a</label>
      <input 
        id="taskAssigned" 
        type="text" 
        pInputText 
        formControlName="asignado" 
        placeholder="Nombre del responsable">
        <small *ngIf="taskForm.get('asignado')?.invalid && taskForm.get('asignado')?.touched" class="p-error">
          Persona asignada es obligatoria y debe tener al menos 10 caracteres..
        </small>
    </div>

    <div class="field col-12">
      <label for="taskComment">Comentarios</label>
      <textarea 
        id="taskComment" 
        rows="3" 
        pInputTextarea 
        formControlName="comentario" 
        placeholder="Comentarios adicionales">
      </textarea>
    </div>

    <div class="field col-12">
      <label for="taskProgress">Progreso</label>
      <p-slider 
        formControlName="progreso" 
        [min]="0" 
        [max]="100" 
        [step]="10">
      </p-slider>
      <div class="text-right">{{ taskForm.get('progreso')?.value }}%</div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-3">
      <p-button 
        label="Cancelar" 
        class="p-button-secondary"
        severity="secondary"  
        (onClick)="onCancel()">
      </p-button>
      <p-button 
        label="Guardar" 
        class="p-button-success" 
        (onClick)="onSave()">
      </p-button>
    </div>
  </ng-template>
</p-dialog>
