<div class="kanban-board">
  <div class="kanban-column" [ngClass]="estado | lowercase" *ngFor="let estado of estados">
    <h3>{{ estado }}</h3>
    <div
      cdkDropList
      [cdkDropListData]="tareas[estado]"
      [cdkDropListConnectedTo]="estados"
      class="task-list"
      [id]="estado"
      (cdkDropListDropped)="moverTarea($event)"
    >
      <div
        class="task-card"
        *ngFor="let tarea of tareas[estado]"
        cdkDrag
        [cdkDragData]="tarea"
      >
        <h4>{{ tarea.titulo }}</h4>
        <p>{{ tarea.descripcion }}</p>
      </div>
    </div>
  </div>
</div>
