<p-toolbar>
  <div class="p-toolbar-group-start">
    <label class="text-2xl">Estado de Tareas</label>
  </div>
</p-toolbar>

<div class="kanban-board">
  <div class="kanban-column" [ngClass]="estado | lowercase" *ngFor="let estado of estados">
    <h3>{{ estado }}</h3>
    <div
      cdkDropList
      [cdkDropListData]="tareas[estado]"
      [cdkDropListConnectedTo]="estados"
      class="task-list"
      [id]="estado"
      (cdkDropListDropped)="moverTarea($event)"
    >
      <div
        class="task-card"
        *ngFor="let tarea of tareas[estado]"
        cdkDrag
        [cdkDragData]="tarea"
      >
        <h4>{{ tarea.titulo }}</h4>
        <p>
          <span *ngIf="!isTaskExpanded(tarea)">
            {{ tarea.descripcion | truncate:100 }}
          </span>
          <span *ngIf="isTaskExpanded(tarea)">
            {{ tarea.descripcion }}
          </span>
          <span 
            *ngIf="tarea.descripcion.length > 100" 
            class="text-link" 
            style="color: blue; cursor: pointer; text-decoration: underline;"
            (click)="toggleTaskExpansion(tarea)">
            {{ isTaskExpanded(tarea) ? 'Ver menos' : 'Ver más' }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
