.welcome-container {
    background-size: cover;
    background-position: center;
    height: 100vh;  /* Para que ocupe toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  